h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    animation: fade 15s;

}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}