@media only screen and (min-width: 40em) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation li {
        display: block;

        flex: 1 1 100%;
    }

    nav a {
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
}